@font-face {
    font-family: Outfit;
    src: url(../fonts/Outfit-VariableFont_wght.ttf);
}

body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4.3rem;
}
.qr-containner{
    background-color: hsl(0, 0%, 100%);
    padding: 0.8rem;
    border-radius: 1rem;
}
.text-font-familly{
    font-family: Outfit;
    font-display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 14rem
}
.title-challenge{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 1.2rem;
}
.text-challenge{
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    font-size: 0.8rem;
}
.qr-code{
    width: 15rem;
    border-radius: 0.5rem;
}
.author{
    color: hsl(218, 44%, 22%);
    width: 10rem;
    font-weight: 400;
    font-size: 0.6rem;
}

a:link{
    color: hsl(218, 44%, 22%);
}
a:visited{
    color: hsl(218, 44%, 22%);;
}
a:hover{
    color: hsl(0, 100%, 50%);
}